/* Matthew's Profile Site */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
:root {
    --bg-color: #171717;
    --word-color: white;
    --accent-color: #B2AC88;
    --gradient: radial-gradient(circle,#333333, var(--bg-color));
    font-family: 'Open Sans', sans-serif;
}
body {
    background: var(--gradient);
}
/* nav h1 {
    
}
nav h1:before {
    content: "Matthew Dreusicke";
    color: transparent;
    position: absolute;
    top: 5px;
    z-index: -1;

}
nav h1:hover:before {
    color: var(--accent-color);
} */
fieldset {
    position: relative;
    top: 100px;
    padding: 50px;
    
}
legend {
    overflow: hidden;
    position: relative;
}
legend:before {
    position: absolute;
    left: 0px;
    content: '';
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: var(--accent-color);
    color: transparent;
    transform-origin: bottom;
    transform: translate(-197px);
    transition: 1s;
}
fieldset:hover legend:before {
    transform: translate(0px);
}
#words {
    color: var(--word-color);
    text-align: center;
}
#words legend {
    text-align: left;
    font-size: 50px;
}
/* fieldset:hover {
    animation: colorChange 3s alternate infinite;
}
@keyframes colorChange {
    0% {
        border: solid white 1px;
    }
    50% {
        border: solid transparent 1px;
    }
    100% {
        border: solid var(--accent-color) 1px;
    }
} */
nav #mobileTitle {
    position: absolute;
    color: transparent;
    font-size: 25px;
    top: -10px;
    left: 13px;
}
nav {
    position: relative;
    top: 30px;
   
}
nav a {
    color: var(--word-color);
    position: relative;
    display: block;
    padding: 15px 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    transition: .5s;
}
nav a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform:scaleY(2);
    transition: .5s;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    
}
nav ul li {
    list-style: none;
}
a:hover:before {
    transform: scaleY(1.2);
    opacity: 1;
}
a:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    transition: .5s;
    transform: scale(0);
    z-index: -1;
}
a:hover:after {
    transform: scale(1);
}
a:hover {
    color: var(--word-color);
}
@media screen and (max-width: 693px) {
    nav #mobileTitle {
        position: relative;
        text-align: center;
        top: 0;
        left: 0;    
        color: var(--word-color);
    }
    .specialName h1 {
        color: transparent;
        background: transparent;
        
    }

}
@media screen and (max-width: 457px) {
    nav ul {
        text-align: center;
        flex-direction: column;
    }
  
}
@media screen and (max-width: 504px) {
    #words legend {
        text-align: center;
    }

}
.specialName {
    position: absolute;
    width: 210px;
    color: var(--accent-color);
}
.specialName h1 {
    position: absolute;
    top: 20px;
    left: 120px;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    width: 100%;
    
    font-size: 40px;
    text-transform: uppercase;
}
.specialName h1:nth-child(2) {
    color: white;
    transition: .5s;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0% 100%);
    background: #212121;
}
.specialName h1:nth-child(2):hover {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.specialName h1:nth-child(1):hover ~ h1 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}